.about_us {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap
  }
  

.about_us > div{
    width: 300px;
    height: 520px;
    margin: 10px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}

.about_us > div >img{
    width: 100%;
    height: 150px;
    margin-bottom: 1%;
}

.about_us > div h3{
    font-size: 20px;
    color: rgb(35, 35, 35);
    padding-bottom: 16px;
    padding-top: 16px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .about_us > div p{
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 25.5px;
    color: rgb(118, 118, 118);
    overflow-wrap: break-word;
  }
